@import '~@fluentui/react/dist/sass/References.scss';

.spaAppWrapper {
  width: 100vw;
}

.webpartAppWrapper {
  width: 100%;
}

.menuWrapper {
  margin-bottom: 48px;
}

.imageGallery {
  margin: auto;
  overflow: hidden;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

@media screen and (max-width: 1280px) {

  .postWrapper {
    flex-direction: "column";
    justify-content: "start";
    height: calc(100vh - 50px);
    margin: 0;
  }

  .fullSizeImage {
    margin: auto;
    max-height: 60%;
  }

  .commentsWrapper {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
  }

}