@import '~@fluentui/react/dist/sass/References.scss';

.imageGallery {
  overflow: hidden;
  padding: 1em;
  max-width: 1620px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.imageGridWrapper {
  display: flex;
  flex-direction: row;
  gap: 3px;
  flex-wrap: wrap;
}

.fullSizeImage {
  object-fit: contain;
  max-width: 900px;
  max-height: 100%;
  flex-basis: content;
  background-color: rgba(0, 0, 0, 0.25);
}

.fullSizeContainer {
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}