.basicHeader {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.topRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: .25em;
}

.bottomRow {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: .25em;
    align-items: self-end;
    margin-bottom: 10px;
    @media screen and (max-width: 640px) {
        justify-content: space-between;
    }

}

.pivotContainer {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 640px) {
        min-width: 0;
        margin-right: 0;
    }
}

.absolute {
    position: absolute;
}

.buttonContainer {
    @media screen and (max-width: 640px) {
        position: relative;
    }
}