.imageGridWrapper {
    display: flex;
    flex-direction: row;
    gap: 1px;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1280px;
  }

  .imageCardWrapper {
    min-width: 33.2%;
    max-width: 33.2%;
  }

  .shimmerWrapper {
    width: 100%;
  }


  @media screen and (max-width: 1280px) {
    .imageGridWrapper {
        gap: .5px;
    }
  
  }